<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body>
<!-- Navigation -->
{% include nav.html %}

<header class="sb-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Blog</h1>
                <p>Tips, tricks, and musings on working with Bootstrap...</p>
            </div>
            <div class="col-md-4">
                {% include ad.html %}
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
	<ol class="breadcrumb">
		<li><a href="/index.html">BootstrapBase Home</a></li>
		<li class="active">{{ page.title }}</li>
	</ol>
</div>
{{ content }}

<!-- Footer -->
{% include footer.html %}

<!-- JavaScript -->
{% include javascript.html %}

</body>

</html>