<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}

<!-- Webmaster Tools Site Verification -->
<!-- <meta name="google-site-verification" content="hq9-_keIZdTZt7arZ91T-gSqn8ANii362mlcn0zCgno"> -->
</head>

<body>
<!-- Navigation -->
{% include nav.html %}

<header class="marquee">
    <div class="container">
        <span class="brand-name">JSkata.com</span>
        <h1>Snippets to learn JS from the very basics </h1>
        <p>Examples of all the core concepts of the language</a>
        </p>
        <div id="social">

        </div>
        <a href="/template-categories/all" class="btn btn-default btn-cta"><i class="fa fa-chevron-circle-right"></i> Browse All Themes</a>
        <div class="sponsor">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- BootstrapBase1 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:300px;height:250px"
                 data-ad-client="ca-pub-5779404885491678"
                 data-ad-slot="2124111534"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</header>

<!-- Page Content -->
{{ content }}

<!-- Footer -->
{% include footer.html %}

<!-- JavaScript -->
{% include javascript.html %}

</body>

</html>